{% extends "base.html" %}

{% block content %}

<main class="container py-5"> 
    <section class="card card-body">

        <h1 class="display-1 text-center">Django app</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veritatis harum dolore amet voluptatum tempora vitae id a temporibus laborum, itaque eos quisquam explicabo cumque alias exercitationem quaerat illo. Enim?</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin"> Sign In</a>
            <a class="btn btn-primary" href="/signup"> Sign Up</a>

        </div>

    </section>

</main>
{% endblock content %}